<!DOCTYPE html>
<html>
<head>
  <title>Billed</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href="http://fonts.googleapis.com/css?family=Armata' rel='stylesheet' type='text/css">

</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <p class="text-center nav-title">Billed</p>

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><%= link_to '', root_path, class: 'glyphicon glyphicon-piggy-bank fa-4x' %></li>
            <% if user_signed_in? %>
            <li class="navbar-heading-left"><%= link_to "Add new bill", new_bill_path %></li>
            <% end %>
          </ul>
        </div>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <li class="navbar-heading-right"><%= current_user.username.capitalize %>, you have <%= pluralize(current_user.bills.count, 'bill') %></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: 'delete' %></li>
        <% end %>
      </ul>
    </div>
  </nav>

    <% if notice.present? %>
    <p id="notice"><%= notice %></p>
    <% end %>

<div class="container">
    <%= yield %>
</div>

</body>
</html>
